* {
  margin: 0;
  padding: 0;
}
.container {
  background: black;
  overflow: hidden;
  color: white;
  align-self: center;
  margin: auto;
}

.fsection {
  background: black;
  height: 100vh;
  position: relative;
  margin: 0 auto;
  width: 50%;
  opacity: 0;
}

body > div > div > h1 {
  top: 3em;
  position: absolute;
}

body > div > div > button {
  position: absolute;
  bottom: 10em;
  left: 35%;
  width: 120px;
}

/* .ssection {
  border: 1px solid red;
  height: 100vh;
} */
